graft horizon
graft docs

include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include setup.cfg
include setup.py
include runtests.py
include Makefile

exclude .editorconfig
exclude .pyup.yml
exclude .travis.yml
exclude requirements.txt
exclude requirements-dev.txt
exclude runmakemigrations.py
exclude tox.ini

global-exclude __pycache__
global-exclude *.py[co]
global-exclude *.cfg

prune .github
prune docs/_build
prune tests
